.title {
    color: var(--mainColor);
}
.mainImg {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}