*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none !important;
}
a {
  text-decoration: none !important;
}
body {
  text-transform: capitalize;
  overflow-x: hidden !important;
  font-family: 'Cairo' !important;
}
html {
  scroll-behavior: smooth;
}
:root {
  --mainColor : #4fcc70 ; 
   --sectionColor : #F3DFD4 ; 
   --text-Color : #4E5454 ; 
}
.navLinks {
 
  font-size: 18px;
  color: var(--text-Color) !important;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.navLinks::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  background-color: var(--mainColor);
  height: 2px;
  width: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.navLinks:hover {
  color: var(--mainColor) !important;
}
.navLinks:hover::before{
  width: 100%;
}
.pointer {
  cursor: pointer;
}
.mt {
  margin-top: 118px;
}
/* slider styles */
.swiper-slider {
  width: 100%;
  height: 200px;

}

.slideImg {
  padding: 0;
  margin: 0;
  width: 100% !important;
  height: 300px !important;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.slideTitle {
  position: absolute;
  top: 50%;
  font-size: 18px;
  font-weight: bold;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.lh {
  line-height: 2;
  color: var(--text-Color);
}
.mainbtn {
  width: 80%;
  margin:  auto !important;
  border: none;
  padding: 7px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
   background-color: var(--mainColor);
  transition: 0.3s;
  position: relative;
  z-index: 4;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.mainbtn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  height: 100% ;
  width: 0;
  background-color: var(--sectionColor);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.mainbtn:hover::before {
  width: 100%;
    z-index: -1;
}
.more {
  transform: 0.3s;
  -webkit-transform: 0.3s;
  -moz-transform: 0.3s;
  -ms-transform: 0.3s;
  -o-transform: 0.3s;
}
.mainbtn:hover .more {
  color: var(--text-Color) !important;
}